* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Arial;
    margin: 0;
    background: url('../img/imagen.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    background: #fff;
    padding: 3px;
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
}
h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
}

.contenedor .icono{
	text-align: center;
}
.contenedor .icono img {
	width: 150px;
	vertical-align: top;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.2);
	padding-bottom: 20px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #0f0f0e79;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: #414141;
}

.register {
    padding: 0 15px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

/*@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}*/
