* {
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: sans-serif, arial;
	font-size: 16px;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin:auto; 
	overflow: hidden;
}

/* ----- ----- HEADER ----- ----- */
header {
	background: url('../img/fondo1.jpg') #000;
	background-repeat: no-repeat;
	background-position: center;
	/*max-height: 400px;*/
}

header .menu {
	margin: 40px 0;
	text-align: right;
}

header .menu a {
	margin: 0 20px;
	color: #fff;
	padding-bottom: 9px;
	display: inline-block;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	font-size: 1.3em;
}

header .menu a:hover {
	border-bottom: 3px solid #fff;
}

header .contenedor-texto {
	display: flex;
	margin: 130px;
}

header .contenedor-texto .texto {
	border: 2px solid rgba(255,255,255,0.5);
	padding: 20px 60px;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2,
header .contenedor-texto .texto p {
	color: #fff;
	margin: 0px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
	padding-bottom: 10px;
	font-size: 40px;
	line-height: 40px;
}

header .contenedor-texto .texto p {
	font-size: 20px;
	line-height: 20px;
}

/* ----- ----- MAIN ----- ----- */

.main .contenedor {
	overflow: visible;
}

.main .acerca-de {
	text-align: center;

}

.main .acerca-de .foto {
	margin-top: -60px;

}

.main .acerca-de .foto img {
	vertical-align: top;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.2);
}

.main .E-D-A {
	/*background: #f2f2f2;*/
	padding: 60px 0;
}

.main .E-D-A .contenedor {
	overflow: hidden;
}

.main .E-D-A .titulo {
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 40px;
	font-weight: 300;
	color: #323068;
	text-align: center;
}

.main .E-D-A .contenedor-E-D-A {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main .E-D-A .contenedor-E-D-A .e-d-a {
	width: 30%;
	margin-bottom: 40px;
}

.main .E-D-A .contenedor-E-D-A .e-d-a .thumb {
	width: 100%;
	margin-bottom: 10px;
}

.main .E-D-A .contenedor-E-D-A .e-d-a .thumb img {
	width: 100%;
	vertical-align: top;
	border-radius: 5px;
	opacity: 0.6;
}

.main .E-D-A .contenedor-E-D-A .e-d-a .thumb img:hover {
	opacity: 1;
}

.main .E-D-A .contenedor-E-D-A .e-d-a .descripcion {
	font-size: 20px;
	color: #636363;
	margin-bottom: 10px;
	text-align: center;
}


/* ----- ----- FOOTER ----- ----- */

footer .contacto {
	padding: 60px 0;
	background: #f2f2f2;
}

footer .contacto .titulo {
font-size: 34px;
	line-height: 34px;
	margin-bottom: 40px;
	font-weight: 300;
	color: #3895ea;
	text-align: center;
}

footer .contacto .formulario {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
	border:2px solid #cecece;
	border-radius: 5px;
	padding: 15px 20px;
	font-size: 20px;
	color: #a4a4a4;
}

/*footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus {
	border:2px solid #3895ea;
}*/

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"] {
	width: 49%;
	margin-bottom: 15px;
}

footer .contacto .formulario textarea {
	width: 100%;
	height: 100px;
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 300px;
	margin-bottom: 15px;
}

footer .contacto .formulario .boton {
	margin: auto;
	background: #3895ea;
	color: #fff;
	border-radius: 3px;
	border:none;
	padding: 15px 40px;
	cursor: pointer;
}

footer .contacto .formulario .boton:hover {
	background: #387bea;
}