* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: sans-serif, arial;
  font-size: 16px;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.contenedor-texto {
  max-width: 1300px;
  margin: auto;
}

/* ----- ----- HEADER ----- ----- */
header {
  background: url("fondo1.jpg") #000;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 600px;
}

header .menu {
  margin: 40px 0;
  text-align: right;
}

header .menu a {
  margin: 0 20px;
  color: #fff;
  padding-bottom: 9px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-size: 1.3em;
}

header .menu a:hover {
  border-bottom: 3px solid #fff;
}

header .contenedor-texto {
  display: flex;
  margin: 130px;
}

header .contenedor-texto .texto {
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 20px 60px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2,
header .contenedor-texto .texto p {
  color: #fff;
  margin: 0px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
  padding-bottom: 10px;
  font-size: 50px;
  line-height: 50px;
}

header .contenedor-texto .texto p {
  font-size: 25px;
  line-height: 25px;
}

/* ----- ----- MAIN ----- ----- */
.main .contenedor {
  overflow: visible;
}

.main .acerca-de .foto {
  margin-top: -60px;
  text-align: center;
}

.main .acerca-de .foto img {
  vertical-align: top;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
}

.main .acerca-de .foto .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300px;
  color: #417963;
  text-align: center;
}

.main .acerca-de .texto {
  color: #5a5a5a;
  font-size: 1em;
  line-height: 30px;
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .acerca-de .texto .mision {
  text-align: center;
}

.main .acerca-de .texto p {
  max-width: 570px;
}

.main .acerca-de .texto .vision {
  text-align: center;
}

.main .acerca-de .contenedor-texto .valores {
  text-align: center;
  color: #5a5a5a;
  font-size: 1em;
  line-height: 30px;
}

/* ----- ----- MAIN GALERIA ----- ----- */

.main .galeria {
  background: #f1ebeb;
  padding: 60px 0;
}

.main .galeria .contenedor {
  overflow: hidden;
}

.main .galeria .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #468d78;
  text-align: center;
}

.main .galeria .contenedor-galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .galeria .contenedor-galeria .imagen {
  width: 23%;
  margin-bottom: 40px;
}

.main .galeria .contenedor-galeria .imagen .thumb {
  width: 100%;
  margin-bottom: 10px;
}

.main .galeria .contenedor-galeria .imagen .thumb img {
  width: 100%;
  vertical-align: top;
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
}

.main .galeria .contenedor-galeria .imagen .descripcion {
  text-align: center;
}

.main .galeria .contenedor-galeria .imagen .descripcion .nombre {
  color: #0f5050;
  margin-bottom: 10px;
  font-size: 20px;
}

/* ----- ----- FOOTER ----- ----- */

footer .contacto {
  padding-bottom: 20px;
  background: #e2e2e2;
}

footer .contacto .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #0d9982;
  text-align: center;
}

footer .contacto .formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"] {
  width: 49%;
  margin-bottom: 15px;
}

footer .contacto .formulario textarea {
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
  margin-bottom: 15px;
}

footer .contacto .formulario .boton {
  margin: auto;
  background: #068671;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 15px 40px;
  cursor: pointer;
}

footer .contacto .formulario .boton:hover {
  background: #0a997a;
}

footer .nosotros {
  background: #1e3638;
  padding: 15px;
  text-align: center;
}

footer .nosotros p {
  color: #fff;
  display: block;
  padding: 5px;
}

footer .nosotros a {
  color: #fff;
  border-bottom: 3px solid transparent;
  padding-bottom: 9px;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}
footer .nosotros a:hover {
  color: rgb(143, 143, 143);
  padding-bottom: 9px;
  border-bottom: 3px solid #fff;
}

/* ----- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 1200px) {
  .main .acerca-de .texto {
    text-align: center;
  }
  .main .acerca-de .texto p {
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  header .menu {
    text-align: center;
  }

  .main .galeria .contenedor-galeria .imagen {
    width: 46%;
  }

  @media screen and (max-width: 600px) {
    header .contenedor-texto .texto {
      text-align: center;
    }
    header .contenedor-texto .texto h1,
    header .contenedor-texto .texto h2 {
      font-size: 30px;
    }

    header .contenedor-texto .texto p {
      font-size: 15px;
    }

    footer .nosotros .contenedor {
      flex-wrap: wrap;
      padding: 20px 0;
    }
  }
}
